@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

.slider {
    width: 100%;
}

.greenbg {
    background-color: #003926;
}

.green {
    background-color: #00593b9c;
}

.greenbtn {
    background-color: #003926cf;
    color: white;
}

.greenbtn:hover {
    background-color: #015a3cb9;
}
.edithbtn {
    background-color: #bd9700;
}
.edithbtn:hover {
    background-color: #e2b500;
}
.firstchoice {
    background-color: #00392658;
}
.firstchoice:hover {
    background-color:#00392629;
}
.navig {
    font-family: 'Allerta Stencil', sans-serif;
}

img {
    width: 100%;
}
.border-green {
    border: #003926 solid 1px;
    background-color: silver;
}
.card-article-admin {
    width: 45%;
    margin: 1rem;
}
.cardChoicePicture {
    width: 20%;
}
.img-card-admin {
    width: 20%;
}
.img-card-admin2 {
    width: 50%;
}
.thepicture {
    width: 50%;
    height: auto;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

a {
    text-decoration: none;
}

.befor {
    color: gray;
}

.img-article {
    width: 90%;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width: 900px) {
    .thepicture {
        width: 100%;
        height: auto;
    }
    .card-article-admin {
        width: 100%;
    }
    .login {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 600px) {
    .slider {
        width: 100%;
    }

    .box-img-2 {
        order: -1;
    }

    /* .inputNb {
        width: 4rem;
    }

    .inputSelect {
        width: 19rem;
    } */

    .thepicture {
        width: 100%;
        height: auto;
    }
}