@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

.slider {
    width: 100%;
}

.greenbg {
    background-color: #003926;
}

.green {
    background-color: #00593b9c;
}

.navig {
    font-family: 'Allerta Stencil', sans-serif;
}
img {
    width: 100%;
}
.border-green {
    border: #003926 solid 1px;
    background-color: silver;
}
.img-card-admin {
    width: 20%;
}

.thepicture {
    width: 50%;
    height: auto;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

a {
    text-decoration: none;
}

.befor {
    color: gray;
}

.img-article {
    width: 90%;
}
.login {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@media screen and (max-width: 900px) {
    .thepicture {
        width: 100%;
        height: auto;
    }
    .login {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 600px) {
    .slider {
        width: 100%;
    }

    .box-img-2 {
        order: -1;
    }

    .inputNb {
        width: 40px;
    }

    .inputSelect {
        width: 50px;
    }

    .thepicture {
        width: 100%;
        height: auto;
    }
}